SCUtils/__pycache__/__init__.cpython-312.pyc
SCUtils/__pycache__/q1.cpython-312.pyc
SCUtils/__pycache__/q2.cpython-312.pyc
SCUtils/__pycache__/q4.cpython-312.pyc
SCUtils/__pycache__/q3.cpython-312.pyc
SCUtils/__pycache__/q5.cpython-312.pyc
